<h1>DICTIONARY</h1>

<ul>
  <% @dictionary_list.each() do |single_word| %>
    <li><a href='/<%=single_word.id().to_s()%>'><%= single_word.word() %></a></li>
  <% end %>
</ul>

<p><a href='/new_word_form'>Click here to add a new word!</a></p>
