<h1>Enter a new word you would like to add to your dictionary!</h1>
<form action="/" method="post">
  <div class="form-group">
    <label for="new_word">Enter word:</label>
    <input id="new_word" name ="new_word" class="form-text" type="text">
    <button type="submit" class="btn-success">Add</button>
  </div>
</form>
