<h3>Enter a new word you would like to add to your dictionary!</h3>
<form action="/new_word" method="post">
  <div class="form-group">
    <label for="new_word">Enter word:</label>
    <input id="new_word" name ="new_word" class="form-text" type="text">
    <button type="submit" class="btn-success">Add</button>
  </div>
</form>

<p><a href='/'>Go back to Dictionary</a></p>
